extends layout

block content
    form(method='post', action='')
        div.col-md-4
            div(style="text-align:center")
                h1 Price: #{prijs1} $
            div(style="text-align:center")
                button(class="shrink-on-hover" type='submit',allign="center", name="high", value="0",)
                   img(src=img, style="margin-right:10%")
                    
        div.col-md-4
            div(style="text-align:center")
                h1 Price: ???? $
            button(class="shrink-on-hover" type='submit',allign="center", name="high", value="1",)
                img(src=img2)
        div.col-md-4
            div(style="margin-top:25%")
                h2 Score : #{score}
            div
                h2(class="tekst") Highscore : #{highscore}